.home{
    /* display: flex; */

}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}