.nav{
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    place-items: center;
    justify-content: space-around;
    min-width: 94vw;
}

.nav__icon{
    font-size: 0.7em;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
}

  
