#root {
  min-width: 100vw;
  margin-left: 0;
  text-align: center;
}
.App{
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

/* Global colors definition*/
.color_danger{
    color: red;
}
.color_safe{
    color: green;
}
.color_info{
    color: #0dcaf0;
}
.color_other{
    color: blueviolet;
}
.color_dark{
    color: black;
}

/* Global background colors definition*/
.bg-color_danger{
    background-color: red;
}
.bg-color_safe{
    background-color: green;
}
.bg-color_info{
    background-color: #0dcaf0;
}
.bg-color_other{
    background-color: blueviolet;
}
.bg-color_dark{
    background-color: black;
}

/* Global alignment definitions */
.align_right {
    text-align: right;
}
.align_left{
    text-align: left;
}




