#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.color_danger{
    color: red;
}

.color_safe{
    color: green;
}

.color_info{
    color: #0dcaf0;
}

.color_other{
    color: blueviolet;
}

.color_dark{
    color: black;
}

.bg-color_danger{
    background-color: red;
}

.bg-color_safe{
    background-color: green;
}

.bg-color_info{
    background-color: #0dcaf0;
}

.bg-color_other{
    background-color: blueviolet;
}

.bg-color_dark{
    background-color: black;
}


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 4em #9a9a9daa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */



