.btn_theme_icon{
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-size: 22px;
    padding: 2px;
    align-items: center;
    position: relative;
    left: calc(80vw - 30px);
    top: -70vh;
    margin: auto;
}