.btn_theme_navLink{
    border: 0;
    padding: 0.5em;
    width: 100px;
    background-color: wheat;
    border-radius: 1em;
}

#dark .btn_theme_navLink:hover{
    filter: drop-shadow(0 0 1.4em rgba(245, 245, 245, 0.719));
}

#light .btn_theme_navLink:hover{
    filter: drop-shadow(0 0 1.4em grey);
}
